*
{
	margin: 0px;
	padding: 0px;
}

.clear
{
	clear: both;
}

a
{
	text-decoration: none;
	color: #551a8b;
}

p.warningtext {
	color: #ef0000;
}

table
{
	width: 100%;
    border: none;
	border-collapse: collapse;
	margin: 0px auto;
}
	th
	{
		padding: 2px;
	    border-bottom: 2px solid #999;
	}
	td
	{
		padding: 4px 4px;
	    border-bottom: 1px solid #999;
	}
        td.description {
            padding-left: 10px;
        }
		td.type
		{
			text-align: center;
		}
		td.text
		{
			text-align: left;
		}
		td.number
		{
			padding-right: 10px;
			text-align: right;
		}
		td.key
		{
			font-weight: bold;
			text-align: right;
		}

fieldset
{
    border: none;
}

h1
{
	font-size: 42px;
	font-style: italic;

	color: #f0f0f0;

	padding: 8px;
}
	h1 .betamarker
	{
		vertical-align: text-top;
		font-size: 20px;
		margin-left: 8px;
	}

h2
{
	font-family: Georgia,"Times New Roman",Times,serif;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid #999;
	padding: 8px 8px 5px 8px;
	margin-bottom: 10px;
}

#passwordHidden, #showPassword
{
	display: none;
}

.failed
{
	background-color: #ffAFB2;
}
.passed
{
	background-color: #AFB2FF;
}
.exceeded
{
	background-color: #AFffB2;
}
.lastChanged
{
	background-color: #ffffcf;
}
.status
{
	width: 1em;
	text-align: center;
}
.bonus, .penalty, .minimum
{
	color: #999;
}
.requirement
{
	font-size:smaller;
	vertical-align: text-top;
	color: #999;
	margin-left: 2px;
}

#complexity
{
}
	#complexity.veryweak
	{
		color: #ef0000;
	}
	#complexity.weak
	{
		color: #DF2500;
	}
	#complexity.fair
	{
		color: #DFA200;
	}
	#complexity.good
	{
		color: #9DAF00;
	}
	#complexity.strong
	{
		color: #09AF00;
	}

#hibp
{
}
	.warning
	{
		background-color: #ffafb2;
	}
	
/**
 * The main container
 */
#container
{
	font-family: Georgia, Times, serif;
	font-size: 15px;

	background-color: #f9f9f9;
	color: #555;
}

/**
 * The header of the page
 */
#header
{
	background-color: #464646;

	padding: 5px;
	margin-bottom: 10px;
}
	#header h1
	{
		text-align: left;
	}

/**
 * The middle content part
 */
#content
{
	clear: both;
	padding: 5px;
	width: 980px;
	margin: 0px auto;
}

/**
 * The table with the password details
 */
#passwordDetails
{
	width: 600px;
	margin: 0px auto;
	float: left;
}
	#passwordDetails table
	{
	}
	#passwordDetails .password input
	{
		border: 1px solid #dfdfdf;
		margin: 1px;
		padding: 3px 4px;
		width: 19em;

		font-family: Georgia, Times, serif;
		font-size: 15px;
	}

/**
 * The table with all password details
 */
#passwordCriterias
{
	width: 600px;
	margin: 20px auto;
	float: left;
}
	#passwordCriterias a
	{
		color: #555;
	}
	#passwordCriterias .description
	{
		white-space: nowrap;
	}

#sidebar
{
	padding: 0px;
	float: right;
	width: 350px;
	margin: 0px;
}
	#sidebar p
	{
		text-align: left;
		line-height: 20px;
		margin: 10px 0px;
	}

	#sidebar #disclaimer
	{
		margin: 0px auto;
	}

	#sidebar #license
	{
		margin: 0px auto;
	}

#blog h2 a
{
	color: #555;
}
#blog h2 a:visited
{
	color: #555;
}
/**
 * A bunch of test passwords
 */
.passwordList
{
	margin: 0px auto;
}
	.passwordList p.description
	{
		text-align: center;
	}
	.passwordList p.data
	{
		overflow: hidden;
		text-align: center !important;
	}
		.passwordList p.data a
		{
			padding: 0px 5px;
            white-space: nowrap;
		}

#myPasswords
{
	display: none;
}

#legend
{
	float: left;
	width: 600px;

	margin-bottom: 10px;
}
    #legend h2 {
        margin-bottom: 0;
    }

#footer
{
	padding: 10px 10px;
	clear: both;
	text-align: center;

	background-color: #464646;
	color: #e0e0e0;

	font-style: italic;
	margin-top: 10px;
}
	#footer p.gpl-logo img
	{
		float: left;
		margin: 5px 10px;
	}
	#footer a
	{
		color: #e0e0e0;
		text-decoration: underline;
	}

/**
 * Descriptions, we use that indirectly and do not want to show it
 * at all.
 */
#descriptions
{
	display: none;
}

#statistics
{
    display: none;
}

/***************************************
 cluetipClass: 'yapm'
-------------------------------------- */
.cluetip-yapm,
.cluetip-yapm .cluetip-outer {
	background-color: #f9f9f9;
}
.cluetip-yapm .ui-cluetip-header {
	background-color: #f0f0f0;
}

.cluetip-yapm {

	border: 1px solid #ccc;
}

.cluetip-yapm .cluetip-outer {

}

.cluetip-yapm  .cluetip-arrows {
border-color: #ccc;
}

/* need to be more specific here to override ThemeRoller defaults */
div.cluetip-yapm  .cluetip-arrows {
font-size: 0;
line-height: 0%;
width: 0;
height: 0;
border-style: solid;
background: transparent none;
}
div.clue-right-rounded .cluetip-arrows {
border-width: 11px 11px 11px 0;
border-top-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
}
div.clue-left-rounded .cluetip-arrows {
left: 100%;
margin-right: -11px;
border-width: 11px 0 11px 11px;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: transparent;

}
div.clue-top-rounded .cluetip-arrows {
top: 100%;
left: 50%;
border-width: 11px 11px 0 11px;
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
}
.clue-bottom-rounded .cluetip-arrows {
top: -11px;
left: 50%;
border-width: 0 11px 11px 11px;
border-top-color: transparent;
border-right-color: transparent;
border-left-color: transparent;

}
